<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
            <li>
                <a href="#">Frontpage</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li class="uk-active">
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Documentation</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Login</a>
            </li>
        </ul>
    </div>
</div>