<nav class="uk-navbar uk-margin-large-bottom">
    <a class="uk-navbar-brand uk-hidden-small" href="#"><%= scriptAppName %></a>
    <ul class="uk-navbar-nav uk-hidden-small">
        <li>
            <a href="#">Frontpage</a>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li class="uk-active">
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">Documentation</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="#">Login</a>
        </li>
    </ul>
    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><%= scriptAppName %></div>
</nav>
