<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= scriptAppName %></title>
    <meta name="description" content="<%= scriptAppName %> Node.js App Power by panes.js">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="generator" content="http://panesjs.com/generator-ng-panes/">
    <!-- bower:css -->
    <!-- bower installed css files will go here... -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- built css files will go here... -->
    <!-- endinject -->

    <!-- head:js -->
    <!-- only importantFile.js will be injected here -->
    <!-- endinject -->
  </head>
  <body<% if (angularMaterial) { %> layout="column"<% } %>>
    <!--[if lte IE 10]>
    <p class="browsehappy">
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->

    <%- overwrite %>

    <!-- bower:js -->
    <!-- bower installed scripts will go here... -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- app scripts will go here... -->
    <!-- endinject -->
  </body>
</html>
